// Variable Overrides 

// Variable Overrides 
$theme-colors: (
  "primary": #d95700
);


$body-bg: #ededed;

.jumbotron {
    background-color: #ffffff !important;
    border-top: 3px solid rgb(219, 219, 219);
}

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

